body {
  background: #e6ecf0;
}

.cover {
  width: 400px;
  height: 400px;
  position: fixed;
  margin-left: -200px;
  margin-top: -200px;
  top: 50%;
  left: 50%;
}

.logo {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #14171a;
  text-align: center;
  text-shadow: 1px 1px 0 #333333;
  line-height: 70px;
}

.login {
  background-color: #f6f6f6;
  width: 100%;
  height: 330px;
  border-radius: 7px;
}

.login {
  padding: 10px 20px;
}

.login form {
  margin-top: 20px;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  color: #E81C4F;
}
