{% load staticfiles i18n %}

@font-face {
  font-family: glphyicon;
  src: url(../fonts/glyphicons-halflings-regular.woff)
}

/* latin-ext */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(../fonts/7pSgz2MbVvTCvvm7vukSHxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(../fonts/8XtYtNKEyyZh481XVWfVOltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background-image: "{% static "img/red_camo.png" %}";
}

.btn-primary {
  background: #841816;
  border-color: #4b0f0e;
}

.btn-primary:hover {
  background: #d4423f;
  border-color: #782a28;
}

button.btn-primary:target {
  background: #d4423f;
  border-color: #782a28;
}

button.btn-primary:active {
  background: #d4423f;
  border-color: #782a28;
}

main > .container {
  background: rgba(131, 131, 131, 0.65);
  padding: 10px;
  border-radius: 10px;
}

.navbar-default {
  background: #3b3b3b;
  border-color: #313131;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  display:inline-block;
  margin-left:25px;
  padding-top:10px;
  padding-left:50px;
  padding-right:0;
  background: url(../../../static/img/section1337_icon.png) no-repeat left center;
  background-size: 42px 42px;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #5e5e5e;
}

.page-header {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

body {
  padding-top: 70px;
}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide";
}

main .container {

}

.page-header {
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center;
  padding: 1em 0;
}

#notifications {
  font-size: 1.5em;
  padding: 13px;
  color: #dddddd;
}

#notifications.new-notifications {
  color: #428bca;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: .9em;
  padding: 0 0 0 .6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.markdown {
  margin-bottom: .8em;
}
