{% load staticfiles i18n %}

@font-face {
  font-family: glphyicon;
  src: url(../fonts/glyphicons-halflings-regular.woff)
}

/* latin-ext */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(../fonts/7pSgz2MbVvTCvvm7vukSHxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(../fonts/8XtYtNKEyyZh481XVWfVOltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #14171a;
}

.btn-primary {
  background: #EC4972;
  border-color: transparent;
  border-radius: 100px;
  font-weight: bold;
  text-align: center;
}

.btn-primary:hover {
  background: #E81C4F;
  border-color: transparent;
}

button.btn-primary:target {
  background: #E81C4F;
  border-color: transparent;
}

button.btn-primary:active {
  background: #E81C4F;
  border-color: transparent;
}

main > .container {
  padding: 10px;
  border-radius: 10px;
}

.navbar-default {
  background: #ffffff;
  border-color: #d8d8d8;
}

.navbar-default .navbar-brand {
  color: #66757f;
  display:inline-block;
  margin-left:25px;
  padding-top:10px;
  padding-left:50px;
  padding-right:0;
  background: url(../../../static/img/bird_blue_icon.png) no-repeat left center;
  background-size: 42px 42px;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: #1c94e0;
}

.navbar-default .navbar-nav > li > a {
  color: #66757f;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #1c94e0;
}

.input-group > .form-control {
  background-color: #f5f8fa;
  border-radius: 21px 0px 0px 21px;
  border: 1px solid #e6ecf0;
  color: #14171a;
  font-size: 12px;
  transition: all .2s ease-in-out;
}

.input-group > .form-control:focus {
  border: 2px solid #E81C4F;
  background-color: #fff;
  opacity: 1;
}

.input-group > .input-group-btn > .btn {
  background-color: #f5f8fa;
  border-radius: 0px 21px 21px 0px;
  border: 1px solid #e6ecf0;
}

.page-header {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

body {
  padding-top: 70px;
}

a, a:hover, a:focus, a:active {
  color: #E81C4F;
}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
}

.page-header {
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center;
  padding: 1em 0;
}

#notifications {
  font-size: 1.5em;
  padding: 13px;
  color: #dddddd;
}

#notifications.new-notifications {
  color: #428bca;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: .9em;
  padding: 0 0 0 .6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.markdown {
  margin-bottom: .8em;
}
