.all-notifications {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

ul.all-notifications {
  padding: 0;
  margin-top: 1em;
}

ul.all-notifications li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .8em 0;
}

ul.all-notifications li:last-child {
  border-bottom: none;
}

ul.all-notifications li small {
  color: #cccccc;
  font-size: .8em;
}

ul.all-notifications li p {
  margin: 0;
}

ul.all-notifications li div {
  margin-left: 40px;
  padding-left: 1em;
}

ul.all-notifications .user-picture {
  width: 40px;
  float: left;
}