<li>
  <img src="{{ message.from_user.profile.get_picture }}" class="picture">
  <div>
    <h5>
      <small class="pull-right">
        {{ message.date|date:'N d G:i' }}
      </small>
      <a href="{% url 'profile' message.from_user.username %}">
        {{ message.from_user.profile.get_screen_name }}
      </a>
    </h5>

    {% if message.get_picture != '' %}
      <img width="175px" src="{{ message.get_picture }}">
      <br>
    {% endif %}

    {{ message.message }}
  </div>
</li>