body {
  background: #e6ecf0;
}

.btn-primary {
  background: #EC4972;
  border-color: transparent;
  border-radius: 100px;
  font-weight: bold;
  text-align: center;
}

.logo {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #14171a;
  text-align: center;
  text-shadow: 1px 1px 0 #333333;
  line-height: 70px;
}

.logo a {
  color: #14171a;
}

.logo a:hover, .logo a:focus {
  color: #E81C4F;
  text-decoration: none;
}

.signup {
  background-color: #f6f6f6;
  width: 70%;
  border-radius: 7px;
  margin: 10px auto 0;
}

.signup {
  padding: 30px 20px;
}

.signup form {
  margin-top: 20px;
}

.signup h2 {
  margin: 0;
}