{% extends 'messenger/base_messages.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'New message' %}{% endblock %}

{% block page_header %}{% trans 'New message' %}{% endblock %}

{% block container %}
  <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">To</label>
      <div class="col-sm-11">
        <input class="form-control typeahead" type="text" id="to" name="to">
      </div>
    </div>
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">Message</label>
      <div class="col-sm-11 new-message-content">
        <div class="message-image-temp"></div>
        <textarea class="form-control" id="message" name="message" placeholder="Write a message" rows="4"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11 col-sm-offset-1">
        <input type="file" id="imageInput" name="picture" style="display: none">
        <button type="button" class="btn btn-primary" id="btn-upload-picture">{% trans 'Upload picture' %}</button>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
  <script src="{% static 'js/messages.typehead.js' %}"></script>
{% endblock container %}