{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ page_user.profile.get_group_name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>{{ page_user.profile.get_group_name }}</h1>
  </div>
  <div class="profile">
    <div class="row">
      <div class="col-md-3 user-profile">
        <img src="{{ page_user.profile.get_group_picture }}" class="picture">
      </div>

      <div class="col-md-9">
        <div class="page-header" style="margin: 10px">
          <button type="button" class="btn btn-primary pull-right btn-compose" title="{% trans 'Press Ctrl + P to compose' %}">
            <span class="glyphicon glyphicon-share-alt"></span> {% trans 'Compose' %}
          </button>
          <h4>{% trans 'Last Feeds by' %} {{ page_user.profile.get_group_name }}</h4>
        </div>

        <div class="compose">
            <h2>{% trans "Compose a new post" %}</h2>
            <form enctype="multipart/form-data" method="post" role="form" id="compose-group-form">
              {% csrf_token %}
              <input type="hidden" name="last_feed">
              <div class="form-group post-content">
                <textarea class="form-control" rows="3" name="post"></textarea>
                <input type="file" id="imageInput" name="picture" style="display: none">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" id="btn-upload-picture">{% trans 'Upload picture' %}</button>

                <button type="button" class="btn btn-primary btn-group-post">
                  <span class="glyphicon glyphicon-send"></span> {% trans 'Post' %}
                </button>
                <button type="button" class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
                <span class="help-block help-count pull-right">255</span>
              </div>
            </form>
      </div>

        <div class="stream-update">
          <a href="#"><span class="new-posts"></span> new posts</a>
        </div>
        <ul class="stream">
          {% for feed in feeds %}
            {% include 'feeds/partial_feed.html' with feed=feed %}
          {% endfor %}
        </ul>
        <div class="load">
          <img src="{% static 'img/loading.gif' %}">
        </div>
        <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">
          <input type="hidden" name="feed_type" id="feed_type" value="group">
          <input type="hidden" name="feed_source" id="feed_source" value="{{ page_user.profile.get_group_name }}">
          <input type="hidden" name="from_feed" value="{{ from_feed }}">
          <input type="hidden" name="page" value="{{ page }}">
        </form>
      </div>
    </div>
  </div>
{% endblock main %}
